<%- include('partials/header') %>
<h1>All Records</h1>
    <div class="Central">
    <table class="viewing">
    <thead>
        <tr>
        <!-- the headings to display the meaning of each reservation field output-->
        <th>Name:</th>
        <th>Surname:</th>
        <th>ID:</th>
        <th>Date of Reservation:</th>
        <th>Reserved Date:</th>
        <th>Reserved Time:</th>
        <th>cardNum:</th>
        <th>cardExp:</th>
        <th>cardSec:</th>
        <th>Modify</th>
        <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <!-- for each reservation found, print the values under the following headings-->
        <% for(var i=0; i < reservation.length; i++) { %>
        <tr>
        <td><%= reservation[i].name %></td>
        <td><%= reservation[i].surname %></td>
        <td><%= reservation[i].ID %></td>
        <td><%= reservation[i].currentDate.toISOString().slice(0, 10) %></td>
        <td><%= reservation[i].date.toISOString().slice(0, 10) %></td>
        <td><%= reservation[i].time %></td>
        <td><%= reservation[i].cardNum %></td>
        <td><%= reservation[i].cardExp %></td>
        <td><%= reservation[i].cardSec %></td>
        <td>
            <!-- post an edit request for a record and send the record _id in the request body-->
            <form action="/editID" method="POST">
            <input type="hidden" name="_id" value="<%= reservation[i]._id %>" required>
            <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <!-- post a remove request for a record and send the record _id in the request body-->
            <form action="/remove" method="POST">
            <input type="hidden" name="_id" value="<%= reservation[i]._id %>" required>
            <button type="submit">Remove</button>
            </form>
        </td>
        </tr>
        <% } %>
    </tbody>
    </table>
    </div>
<%- include('partials/footer') %>